@import './config';
@import './responsive';
@import './crew';
@import './destination';

.container {
    background: url(../assets/home/background-home-desktop.jpg) no-repeat fixed center;
    height: 100vh;
    overflow: hidden;
}

.header {
    padding: 2rem 0 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__bar {
    display: flex;
    list-style-type: none;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2rem);
    padding: 1.5rem;
    padding-right: 6rem;
    font-family: var(--ff-secondary-text);
}

.nav__item {
    margin-right: 1.5rem;
}

.nav__item a {
    text-decoration: none;
    margin-left: 1rem;
    text-transform: uppercase;
    color: var(--white);;
    cursor: pointer;
    padding-bottom: 1.5rem;
    letter-spacing: 2px;
}

.active {
    border-bottom: 2px solid var(--white);;
}

.number {
    font-weight: 700;
    margin-right: 0.5rem;
}

.main {
    display: flex;
    padding: 3rem 6rem;
}

.landing {
    display: flex;
    margin-top: 2rem;
}

.landing__information {
    color: var(--white);;
    width: 50%;
}

.landing__text {
    font-family: var(--ff-secondary-text);
    text-transform: uppercase;
    font-size: 1.2rem;
    color: var(--light-grey);
    letter-spacing: 2px;
}

.landing__bold {
    margin-top: 1rem;
    text-transform: uppercase;
    font-size: 8.5rem;
    font-family: var(--ff-heading-text)
}

.landing__message {
    font-family: var(--ff-secondary-text);
    width: 57%;
    line-height: 30px;
    color: var(--light-grey);
}

.landing__cta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.landing__cta button {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-family: var(--ff-heading-text);
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}