@import './config';
@import './responsive';

.container {
    background: url(../assets/home/background-home-desktop.jpg) no-repeat fixed center;
    height: 100vh;
}

.header {
    padding: 2rem 0 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__bar {
    display: flex;
    list-style-type: none;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2rem);
    padding: 1.5rem;
    padding-right: 7rem;
}

.nav__item {
    margin-right: 1.5rem;
}

.nav__item a {
    text-decoration: none;
    margin-left: 1rem;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    padding-bottom: 1.5rem;
}

.active {
    border-bottom: 2px solid white;
}

.number {
    font-weight: 700;
    margin-right: 0.5rem;
}

.main {
    display: flex;
    padding: 4rem 6rem;
}

.landing {
    display: flex;
}

.landing__information {
    color: white;
    width: 50%;
}

.landing__text {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.landing__bold {
    text-transform: uppercase;
    font-size: 8rem;
}

.landing__message {
    width: 70%;
    line-height: 30px;
}

.landing__cta {
    display: flex;
    // justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.landing__cta button {
    padding: 5rem;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-transform: uppercase;
    border: none;
    text-align: center;
}