@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --ff-heading-text: 'Bellefair', serif;
  --ff-secondary-text: 'Barlow Condensed', sans-serif;
  --ff-teitiary-text: 'Barlow', sans-serif;
  --light-grey: hsl(231, 77%, 90%);
  --white: hsl(0,0%,100%);
}

.crew {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--white);
}

.crew__title {
  text-transform: uppercase;
  font-family: var(--ff-secondary-text);
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

.bold {
  color: var(--light-grey);
  margin-right: 0.5rem;
}

.crew__position {
  text-transform: uppercase;
  font-family: var(--ff-heading-text);
  color: var(--light-grey);
}

.crew__name {
  font-family: var(--ff-heading-text);
  text-transform: uppercase;
  font-size: 3rem;
}

.crew__about {
  color: var(--light-grey);
  font-family: var(--ff-secondary-text);
  width: 55%;
  line-height: 30px;
}

.crew__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-top: 2rem;
}

.link {
  margin-right: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--white);
}

.crew__links li:before {
  content: "•";
  font-size: 220%;
  padding-right: 5px;
}

.crew__image img {
  width: 100%;
  height: auto;
}

.destination__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 7rem 0 7rem;
}

.destination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.destination__title {
  text-transform: uppercase;
  font-family: var(--ff-secondary-text);
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--white);
  font-size: 2rem;
}

.destination__title .bold {
  font-size: 1.7rem;
}

.destination__metrics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25%;
}

.destination__image {
  width: 50%;
}

.destination__image img {
  width: 100%;
  height: auto;
}

.destination__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.destination__links {
  font-family: var(--ff-secondary-text);
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.destination__links a {
  color: var(--light-grey);
  padding-bottom: 1rem;
}

.destination__location {
  color: var(--white);
  font-size: 2rem;
  font-family: var(--ff-heading-text);
  text-transform: uppercase;
}

.about {
  color: var(--light-grey);
  font-family: var(--ff-secondary-text);
  border-bottom: 2px solid var(--light-grey);
  line-height: 20px;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.destination__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.distance {
  margin-right: 2rem;
}

.distance__title, .time__title {
  color: var(--light-grey);
  text-transform: uppercase;
  font-family: var(--ff-secondary-text);
}

.actual__distance, .actual__time {
  color: var(--white);
  text-transform: uppercase;
  font-family: var(--ff-heading-text);
}

.container {
  background: url(../assets/home/background-home-desktop.jpg) no-repeat fixed center;
  height: 100vh;
  overflow: hidden;
}

.header {
  padding: 2rem 0 2rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  padding: 1.5rem;
  padding-right: 6rem;
  font-family: var(--ff-secondary-text);
}

.nav__item {
  margin-right: 1.5rem;
}

.nav__item a {
  text-decoration: none;
  margin-left: 1rem;
  text-transform: uppercase;
  color: var(--white);
  cursor: pointer;
  padding-bottom: 1.5rem;
  letter-spacing: 2px;
}

.active {
  border-bottom: 2px solid var(--white);
}

.number {
  font-weight: 700;
  margin-right: 0.5rem;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 6rem;
}

.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

.landing__information {
  color: var(--white);
  width: 50%;
}

.landing__text {
  font-family: var(--ff-secondary-text);
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--light-grey);
  letter-spacing: 2px;
}

.landing__bold {
  margin-top: 1rem;
  text-transform: uppercase;
  font-size: 8.5rem;
  font-family: var(--ff-heading-text);
}

.landing__message {
  font-family: var(--ff-secondary-text);
  width: 57%;
  line-height: 30px;
  color: var(--light-grey);
}

.landing__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.landing__cta button {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-family: var(--ff-heading-text);
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */